
.fira-sans-thin{
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }

body{
    background-color: #F5F5F5;
}

/* shared-styles */
.description-styles{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
}

/* nav-styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    font-size: 18px;
    font-weight: 700;
    color: #006A50;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px;
    border: 1px solid;
}
/* banner-styles */
.banner-sec{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
    align-items: center;
    border-radius: 24px;
}
.banner{
    width: 622px;
    padding-left: 59.99px;
    padding-top: 117px;
    padding-bottom: 117px;
    
}
.banner-title{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.banner-btn{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.banner-img{
    padding: 80px 59.99px 0px 0px;
}    
/* piller-styles */
.pillars-sec{
    margin: 80px 160px;

}
.pillers-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.pillers-item-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}

.pillers-item{
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 0.15);
    width: 302px;
    border-radius: 16px;
    padding: 24px;
    
}
.pillers-items{
    display: flex;
    justify-content: space-between;
}

/* vision-sec-styles */
.vision-sec{
    margin: 80px 160px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.vision-item-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%
}
.vision-item-btn{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn-1{
    background-color: #5490F5;
}
.btn-2{
    background-color: #09A15C;
}
.btn-3{
    background-color: #FFC239;
}
.vision-item-sec{
    display: flex;
    justify-content: space-between;
    
}
.vision-item-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    width: 410.67px;
    padding: 32px 24px;
}
.vision-item-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    width: 410.67px;
    padding: 32px 24px;
}
.vision-item-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    width: 410.67px;
    padding: 32px 24px;
    
}
.vision-footer{
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin: 32px 0px 0px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-y: +15px;
    background-position-x: +24px;
    /* background-position: center left; */
}
.footer-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
/* newa-sec-styles */
.news-sec{
    margin: 0 160px;
}
.news-items{
    margin: 24px 0;
}
.news-box-1{
    display: flex;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 24px;
    align-items: center;
    border: none;
    border-radius: 24px;
}
.news-box-2{
    display: flex;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 24px;
    align-items: center;
    border: none;
    border-radius: 24px;
}
.news-box-3{
    display: flex;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 24px;
    align-items: center;
    border: none;
    border-radius: 24px;
}
.news-title{
    font-size: 40px;
    font-weight: bold;
}
.news-img{
    padding: 48px;
}
.news{
    padding: 56px 48px;
}
.news>h1{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}
.news-image{
    border-radius: 24px;
}
.news-btn{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
}

/* donate-sec-styles */
.donate-sec{
    margin: 80px 160px;
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
}
.donate-description{
    display: block;
    margin: auto;
    margin-bottom: 32px;
    text-align: center;
    width: 1104px;
}
.donate-option{
    display: flex;
    justify-content: center;
}
.donate-100{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px 40px;
    margin-right: 24px;
}
.donate-200{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color: #C6E4D6;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px 40px;
    margin-right: 24px;
}
.donate-500{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px 40px;
    margin-right: 24px;
}
.donate-1000{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color: #FFFFFF;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px 40px;
}
.donate-amount{
    width: 1032px;
    height: 64px;
    margin-top: 32px;
    border: none;
    border-bottom: rgba(14, 14, 14, 0.15) 2px solid;
    text-align: center;
    font-size: 20px;
    font-weight: 400;  
}
::placeholder{
    color: rgba(14, 14, 14, 0.3);
}
.donate-box{
    align-items: center;
}
.donate-btn{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 32px;
}
.donate-input{
    text-align: center;
}
/* newsletter-sec-styles */
.newsletter-sec{
    display: block;
    margin: auto;
    width: 1280px;
    height: 395px;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.newsletter-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-top: 80px;
    margin-bottom: 0;
}
.newsletter-description{
    width: 622px;
    height: 48px;
    display: block;
    margin: auto;
    margin-top: 16px;
}
.email{
    width: 600px;
    height: 55px;
    font-size: 16px;
    padding-left: 40px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 24px;
}
.subscribe-btn{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 24px;
}
.newsletter-bottom-description{
    margin-top: 24px;
}
.newsletter-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
